* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Barlow Semi Condensed', sans-serif;
	background-color: #000;
}
.container {
	margin: 40px 0 20px;
	background-image: radial-gradient(circle,hsl(237, 49%, 15%) ,hsl(214, 47%, 23%));
	padding-top: 40px;
}
/****GAME HEADING*****/
.game-heading {
	
	width: 45%;

	margin: 0px auto 30px;
	border: 3px solid hsl(217, 16%, 45%);
	border-radius: 10px;
	padding: 10px;
}
.game-heading--container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
.game-score {
	display: flex;
	flex-direction: column;
	
	align-items: center;
	justify-content: center;
	padding: 15px 30px;
	border-radius: 10px;
	background-color: #eee;
	color: hsl(229, 64%, 46%);
}
.game-score--heading {
	
	opacity: 0.5;
}
.game-score--total {
	
	font-size: 55px;
}
/***MAIN GAME AREA****/
/***GAME PLAY PAGE*/
.game-play--page {
	width: 45%;
	height: 300px;
	margin: 0 auto;
	background-image: url("images/bg-triangle.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200px;
	
	display: block;
	
}

/***game-icons***/

.game-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	/*margin: 0 auto;*/
	column-gap: 40px;
	
	

}
.game-icon--box {
	width: 30%;
	
	display: flex;
	justify-content: center;
	align-items: center;
	/*flex-wrap: wrap;*/

}

/*.game-icon-box--paper {
	display: flex;
	justify-content: flex-end;
	width: 30%;
}*/

.game-icon {

	border-radius: 50%;
	padding: 30px;
	/*border: 10px solid white;
	cursor: pointer;
	/*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);*/
	cursor: pointer;

}
.game-icon--rock {
	padding: 33px;
	border: 20px solid hsl(349, 71%, 52%);
	
	

}
.game-icon--paper {
	border: 20px solid hsl(230, 89%, 62%);
	
	
}
.game-icon--scissors {
	border: 20px solid hsl(39, 89%, 49%);
	
}
/***btn-rules****/
.rules {
	width: 70%;
	margin: 50px auto 0;
}
.btn-rules {

	padding: 5px 15px;
	border-radius: 10px;
	color: #fff;
	border: 1px solid #fff;
	font-size: 10px;
	background-color: inherit;
	cursor: pointer;

}
/*.btn-rules:hover {
	
	border: none;
	box-shadow: outset 2px 2px 3px  rgba(0, 0, 0, 0.7);
}
.btn-rules:active {
	box-shadow: inset 5px 5px 10px -3px rgba(0,0,0, 0.7);
}*/

.rules {
	text-align: right;
}
/***GAME RESULT PAGE***/
.game-result--page {
	width: 45%;
	height: 300px;
	margin: 0 auto;
	text-align: center;
	display: none;
}
.game-result--info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
h3 {
	color: #fff;
	letter-spacing: 2px;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.result-text {
	font-size: 35px;
	color: #fff;
	letter-spacing: 2px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.btn-again {

	color: red;
	background-color: #fff;
	padding: 10px 30px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}
.choice-box {
	width: 150px;
	height: auto;
}

/***MODAL DESKTOP****/
.modal {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	padding-top:  200px;

	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	
	/*position: absolute;
	top: 200px;
	left: 37%;
	background-color: rgba(0, 0, 0, 0.5);*/
	
}
.modal-box {
	width: 25%;
	margin: 0 auto;
	/*margin-left: auto;*/
	padding: 20px 30px 30px;
	border-radius: 10px;
	background-color: #fff;
	/*display: block;*/
}
.modal-flex {
	display: flex;
	align-content: center;
	justify-content: space-between;
	gap:  40px;
	flex-wrap: wrap;
}
.modal-heading {
	display: flex;
	align-items: center;
	
	/*margin-bottom: 40px;*/
	
}
.modal-img--close {
	display: flex;
	justify-content: baseline;
	
	
}
.modal-img {
	display: flex;
	justify-content: center;
	
}
.img-rules {
	width: 90%;
}
.modal-heading--rules {
	color: hsl(229, 25%, 31%);
}
.icon-close {
	cursor: pointer;
}

/***MODAL MOBILE *****/

/*****************/
.attribution { 
	font-size: 11px; 	
	text-align: center; 
}
.attribution a { 
	color: hsl(228, 45%, 44%); 
}
/****MEDIA QUERIES*****/
@media only screen and (max-width: 375px) {
	.container {
		margin: 0;
	}
	.game-heading,
	
	
	.rules {
		width: 90%;
	}
	.game-play--page,
	.game-result--page {
		width: 100%;
	}
	.game-icon {
		padding: 20px;
	}
	.game-icon--rock {
		padding: 23px;
	}
	.rules {
		text-align: center;
	}
	.game-result--info {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.result {
		display: flex;
		flex-direction: column;
		
		align-content: center;
		order: 3;
		margin: 30px 0;
	}
	.modal {
		padding-top: 0;
	}
	.modal-box {
		width: 100%;
		height: 100%;
	}
	.modal-flex {
		display: flex;
		flex-direction: column;
		gap: 100px;
		/*flex-wrap: nowrap;*/
	}
	.modal-heading {
		display: flex;
		justify-content: center;
		padding-top: 100px;
		
		
	}
	.modal-img--close {
		display: flex;
		justify-content: center;
		order: 3;
		
	}
	
}
